.second-text{
    font-size: 1.3rem;
}
.left-border{
    border-left: 6px solid orange;
}
.music-name{
    font-size: 1rem;
}
.custom-size{
    cursor: pointer;
    justify-content: space-between;
}
.custom-icon-size{
    height: 40px;
    width: 40px;
    display: none;
}
.custom-size:hover{
    background: #f4f4f4;
}
.size-text{
    font-size: 0.9rem;
}
.showbar-pos{
    background: #f2eee5;
    position: fixed;
    bottom: 0px;
}
.icon-size{
    font-size: 3rem;
    cursor: pointer;
}
.custom-overflow{
    overflow: hidden;
    text-overflow: clip;
    background: #3a3535;
}
.loading-height{
    height: 5px;
}
.loading-color{
    background: orange;
}
#loading{
    width: 0%;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: orange;
}
.right-button:hover{
    background: orange;
}
.playlist-songs:hover{
    background: orange;
}
.modal{
    background: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover; 
}